@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@font-face {
  font-family: "Microgramma";
  src: url("../asset/OpenSans/Microgramma.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}

.dark .dark\:bg-gray-bg {
  --tw-bg-opacity: 1;
  background: linear-gradient(90deg, #0e0e0e 48.77%, rgba(14, 14, 14, 0) 74.19%),
    linear-gradient(0deg, #12161b, #12161b), #0e0e0e;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0px;
  transition: all 1s;
}

.micro-font {
  font-family: "Microgramma", sans-serif;
}

.MuiStepLabel-label {
  font-size: 1rem !important;
  color: white !important;
}

.MuiStepLabel-root {
  padding: 0 !important;
}

.MuiStepIcon-root {
  font-size: 2.5rem !important;
  color: #4b5563 !important;
}

.MuiStepIcon-root.Mui-completed {
  color: #e00036 !important;
}

.MuiStepConnector-root {
  margin-left: 18px !important;
}

.MuiStepConnector-root .MuiStepConnector-line {
  border-color: #4b5563 !important;
  border-left-width: 4px !important;
}

.MuiStepConnector-root.Mui-completed .MuiStepConnector-line {
  border-color: #e00036 !important;
}
