.option {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    button {
        padding: 0.25rem;
        font-size: 1rem;
        margin: 0;
        border-radius: 0.5rem;
        background-color: #E00036;
        color: white;
        width: 70px;
        transition-property: color, background-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    button:hover {
        background-color: #ad062e;
    }
}